<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="My Test Suite">
            <directory suffix="Test.php">./application/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./application/framework/</directory>
            <exclude>
                <directory suffix=".phtml">../application/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="code_coverage/_reports/logs/clover.xml"/>
        <log type="coverage-html" target="code_coverage/_reports/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" logIncompleteSkipped="false" />
        <log type="testdox-text" target="code_coverage/_reports/testdox/executed.txt"/>
        <log type="junit" target="code_coverage/_reports/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <php>
        <env name="browser" value="chrome"/>
        <var name="login" value="autoperftester@gmail.com"/>
        <var name="password" value='PuV6j_.2&amp;$m9h?UY'/>
        <var name="token" value='904da13c62ef685c2d17cdd3f3fb8430dcb1e6f23311809ba5b79e18fa4e97334dc30da82610f31b575ba'/>
        <var name="url" value="https://vk.com/"/>
        <var name="serverHost" value="http://localhost:4444/wd/hub"/>
    </php>

</phpunit>